absl-py==2.1.0
annoy==1.17.3
appdirs==1.4.4
astunparse==1.6.3
atomicwrites==1.4.0
autots==0.6.21
backports.weakref==1.0.post1
cmdstanpy==1.2.5
Cython==3.0.12
dm-tree==0.1.8
et-xmlfile==1.1.0
flatbuffers==25.2.10
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.1
holidays==0.71
import-ipynb==0.1.4
inflection==0.5.1
intel-openmp==2021.4.0
jsonpointer==2.1
keras==3.9.2
libclang==18.1.1
lxml==5.3.0
matplotlib==3.9.2
mkl==2021.4.0
mkl-service==2.4.0
ml-dtypes==0.4.1
naive-bayes==0.1.1
namex==0.0.7
opt-einsum==3.3.0
optree==0.15.0
ply==3.11
pmdarima==2.0.4
prophet==1.1.6
protobuf==3.20.3
py4j==0.10.9.7
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyfiglet==0.8.pstreamost1
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyspark==3.5.1
scikit-surprise
stanio==0.5.1
tbb==2021.12.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow_intel
termcolor==2.3.0
torch==2.3.0
torchvision==0.18.0
webencodings==0.5.1
xgboost==2.0.3